.item {
	margin: 0 auto;
	width: 100%;
	display: flex;
	padding: 25px 20px;
	align-items: center;
	justify-content: space-between;
}

.item__title {
	margin: 0;
}

.item__title a {
	color: #1668dc;
}

.item__title a:hover {
	color: #3c89e8;
}

.item__owner {
	display: flex;
	align-items: center;
	/* color: #000; */
}

.item__avatar {
	border-radius: 100%;
}

.item__stars {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.item__star {
	display: block;
	margin: 0 5px;
	fill: #333;
}

.item__icon {
	transition: 0.3s;
	font-size: 20px;
	color: #333;
	margin-left: 15px;
	cursor: pointer;
}

.item__icon:hover {
	color: #666;
}

.owner__login {
	margin: 0;
	color: #1668dc;
}
