.main{
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
}

.loading{
	border-top: 1px #3D444D solid;
	padding: 25px 20px;
}

.loading .ant-skeleton-content .ant-skeleton-paragraph > li {
  background-color: #333 !important; /* Dark color for loading bars */
}

.loading .ant-skeleton-title {
  background-color: #333 !important; /* Slightly different dark color for title */
}
