.main{
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}

.loading{
	padding: 25px 20px;
}

.header__title{
	margin: 0;
	text-align: center;
}

.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	color: #888;
}

.footer__github{
	color: #888;
	text-decoration: underline;
}

.sorting{
	width: 100%;
	justify-content: end;
	display: flex;
	align-items: center;
}

.sorting__text{
	margin: 0 15px 0;
	font-size: 16px;
}

.layout{
	min-height: 100vh;
}