.main{
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}

.loading{
	padding: 25px 20px;
}

.header__title{
	margin: 0;
	text-align: center;
}

.footer{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	color: #888;
}

.footer__github{
	color: #888;
	text-decoration: underline;
}

.radio{
	position: relative;
	width: 100%;
	justify-content: end;
	display: flex;
}